h1 {
    color: #00E9B8
}

#summary {
    background-color: white;
}

#visualizations {
    background-color: white;
}

body {
    background-color: #e5e5e5;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 60px;
    line-height: 60px;
    background-color: #6C757d;
}

.text-muted {
    color: white;
}