.navbar-header .navbar-brand {
    font-size: 28px;
    color: white;
    background-color: #4aaaa5;
    margin-left: 100px;
    font-weight: bold;
}
h1 {
    color: #4aaaa5;
    font-weight: bold;
}

#summary {
    background-color: white;
}

#visualizations {
    background-color: white;
}
#visualtext {
    font-size: 28px;
}

body {
    background-color: #ededed;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 60px;
    line-height: 60px;
    background-color: #6C757d;
}

.text-muted {
    color: white;
}
